@model TKPM.Models.BaoCaoCongNoVM

@{
    ViewData["Title"] = "Create";
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Báo cáo công nợ tháng</h4>
                    </div>
                </div>
                <form method="post">
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" asp-for="Thang">Tháng: </label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control"
                                   type="text"
                                   placeholder="" asp-for="Thang" />
                            <span></span>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Stt</th>
                                <th scope="col">Đại lý</th>
                                <th scope="col">Nợ đầu</th>
                                <th scope="col">Phát sinh</th>
                                <th scope="col">Nợ cuối</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (@Model != null)
                            {
                                @for (int i = 0; i < @Model.BaoCaoCongNo.Count(); i++)
                                {
                                    <tr>
                                        <th>@i</th>
                                        <td>@Model.BaoCaoCongNo[i].DaiLy.TenDaiLy</td>
                                        <td>@Model.BaoCaoCongNo[i].NoDau</td>
                                        <td>@Model.BaoCaoCongNo[i].TongPhatSinh</td>
                                        <td>@Model.BaoCaoCongNo[i].NoCuoi</td>
                                    </tr>
                                }}
                        </tbody>
                    </table>


                    <div class="center">
                        <input type="submit" value="Update"
                               class="btn btn-primary btn-sm scroll-click" />
                        <input type="submit" value="Xuất PDF" asp-action="ExportPDF_BaoCaoCongNo_BM5_2" class="btn btn-primary btn-sm scroll-click" />

                        <a class="btn btn-primary btn-sm scroll-click" asp-action="Index">Quay ve</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
