@model TKPM.Models.PhieuThuTien

@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- Default Basic Forms Start -->
            <form method="post">
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="text-blue h4">Thêm đại lý</h4>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Mã đại lý</label>
                        <div class="col-sm-12 col-md-10">
                            @Model.IdDaiLy
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Mã người thu tiền</label>
                        <div class="col-sm-12 col-md-10">
                            @Model.IdNguoiThuTien
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Số tiền thu</label>
                        <div class="col-sm-12 col-md-10">
                            @Model.SoTienThu
                        </div>
                    </div>
                </div>

                <input type="hidden" asp-for="@Model.DaiLy.TenDaiLy">
                <input type="hidden" asp-for="@Model.DaiLy.DiaChiDaiLy">
                <input type="hidden" asp-for="@Model.DaiLy.DienThoaiDaiLy">
                <input type="hidden" asp-for="@Model.DaiLy.EmailDaiLy">
                <input type="hidden" asp-for="@Model.NgayThuTien">
                <input type="hidden" asp-for="@Model.SoTienThu">


                <div>
                    <a asp-area="" asp-controller="PhieuThuTien" asp-action="Update" asp-route-Id="@Model.Id" class="btn btn-primary btn-sm scroll-click">Update</a>
                    <input type="submit" value="Xuất PDF" asp-action="ExportPDF_ChiTietThuTien_BM4" class="btn btn-primary btn-sm scroll-click" />
                    <a asp-area="" asp-controller="PhieuThuTien" asp-action="Delete" asp-route-Id="@Model.Id" class="btn btn-primary btn-sm scroll-click">Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>