@using TKPM.Models
@model IEnumerable<PhieuXuatHang>
@{
    ViewData["Title"] = "Danh sach dai ly";
}



<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- basic table  Start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Lịch sử xuất hàng</h4>
                    </div>
                    <div class="pull-right">
                        <a asp-area="" asp-controller="DaiLy" asp-action="ThemDaiLy" class="btn btn-primary btn-sm scroll-click">Tạo phiếu xuất hàng</a>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <a href="@Url.Action("Sort", new {sortOrder = ViewBag.MaPhieuSortParm})">
                                    Mã phiếu
                                    <i class="fa-solid fa-sort"></i>
                                </a>
                            </th>
                            <th scope="col">
                                <a href="@Url.Action("Sort", new {sortOrder = ViewBag.MaDaiLySortParm})">
                                    Mã đại lý
                                    <i class="fa-solid fa-sort"></i>
                                </a>
                            </th>
                            <th scope="col">
                                <a href="@Url.Action("Sort", new {sortOrder = ViewBag.NgaySortParm})">
                                    Ngày lập phiếu
                                    <i class="fa-solid fa-sort"></i>
                                </a>
                            </th>
                            <th scope="col">
                                <a href="@Url.Action("Sort", new {sortOrder = ViewBag.TienSortParm})">
                                    Tổng giá trị
                                    <i class="fa-solid fa-sort"></i>
                                </a>
                            </th>
                            <th scope="col">Chi tiết</th>
                            <th scope="col">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model)
                        {
                            <tr>
                            <th>@obj.ID</th>
                            <td>@obj.DaiLyId</td>
                            <td>@obj.NgayLapPhieuXuatHang</td>
                            <td>@obj.TongTriGia</td>
                            <td><a class="btn btn-primary btn-sm scroll-click" asp-controller="PhieuXuatHang" asp-action="Edit" asp-route-Id="@obj.ID">Chi Tiết</a></td>
                            <td><a class="btn btn-primary btn-sm scroll-click" asp-controller="PhieuXuatHang" asp-action="Delete" asp-route-Id="@obj.ID">Xóa</a></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <!-- basic table  End -->
        </div>

    </div>
</div>
