@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Thêm đại lý</h4>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Tên đại lý</label>
                    <div class="col-sm-12 col-md-10">
                        @Model.TenDaiLy
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Loại đại lý</label>
                    <div class="col-sm-12 col-md-10">
                        @Model.LoaiDaiLy
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Điện thoại</label>
                    <div class="col-sm-12 col-md-10">
                        @Model.DienThoaiDaiLy
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Địa chỉ</label>
                    <div class="col-sm-12 col-md-10">
                        @Model.DiaChiDaiLy
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Quận</label>
                    <div class="col-sm-12 col-md-10">
                        @Model.QuanDaiLy
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Ngày tiếp nhận</label>
                    <div class="col-sm-12 col-md-10">
                        @Model.NgayTiepNhan
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Email</label>
                    <div class="col-sm-12 col-md-10">
                        @Model.EmailDaiLy
                    </div>
                </div>
            </div>
            <div>
                <a asp-area="" asp-controller="DaiLy" asp-action="Update" asp-route-Id="@Model.Id" class="btn btn-primary btn-sm scroll-click">Update</a>
                <a asp-area="" asp-controller="DaiLy" asp-action="Delete" asp-route-Id="@Model.Id" class="btn btn-primary btn-sm scroll-click">Delete</a>
            </div>
        </div>
    </div>
</div>