@model TKPM.Models.DaiLy

@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- Default Basic Forms Start -->
            <form method="post">
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="text-blue h4">Chi tiết đại lý</h4>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Tên đại lý</label>
                        <div class="col-sm-12 col-md-10">
                            @Model.TenDaiLy
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Loại đại lý</label>
                        <div class="col-sm-12 col-md-10">
                            @Model.LoaiDaiLy
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Điện thoại</label>
                        <div class="col-sm-12 col-md-10">
                            @Model.DienThoaiDaiLy
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Địa chỉ</label>
                        <div class="col-sm-12 col-md-10">
                            @Model.DiaChiDaiLy
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Quận</label>
                        <div class="col-sm-12 col-md-10">
                            @Model.QuanDaiLy
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Ngày tiếp nhận</label>
                        <div class="col-sm-12 col-md-10">
                            @Model.NgayTiepNhan
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Email</label>
                        <div class="col-sm-12 col-md-10">
                            @Model.EmailDaiLy
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Nợ hiện tại</label>
                        <div class="col-sm-12 col-md-10">
                            @Model.NoHienTai
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Tên người quản lý chi nhánh</label>
                        <div class="col-sm-12 col-md-10">
                            @Model.ApplicationUser.HoVaTen
                        </div>
                    </div>
                    <input type="hidden" asp-for="@Model.TenDaiLy">
                    <input type="hidden" asp-for="@Model.LoaiDaiLy">
                    <input type="hidden" asp-for="@Model.DienThoaiDaiLy">
                    <input type="hidden" asp-for="@Model.DiaChiDaiLy">
                    <input type="hidden" asp-for="@Model.QuanDaiLy">
                    <input type="hidden" asp-for="@Model.NgayTiepNhan">
                    <input type="hidden" asp-for="@Model.EmailDaiLy">
                </div>


                <div>
                    @if(User.IsInRole("QuanLyCongTy"))
                    {
                        <a asp-area="" asp-controller="DaiLy" asp-action="Update" asp-route-Id="@Model.Id" class="btn btn-primary btn-sm scroll-click">Cập nhật đại lý</a>
                        <a asp-area="" asp-controller="DaiLy" asp-action="Delete" asp-route-Id="@Model.Id" class="btn btn-primary btn-sm scroll-click">Xoá đại lý</a>
                        <input type="submit" value="Xuất PDF" asp-action="ExportPDF_ChiTietDaiLy_BM1" class="btn btn-primary btn-sm scroll-click" />
                    }
                    <a asp-area="" asp-controller="DaiLy" asp-action="Index" class="btn btn-primary btn-sm scroll-click">Quay về danh sách</a>
                </div>
                
            </form>
    </div>
</div>